{% extends 'crud/base.html' %}

{% block title %}formulario productos{% endblock %}
{% load static %}

{% block content %}
{% load static %}
<div class="container mt-4">
    <div class="row mb-3">
        <h1>Producto: {{productos.idProducto}}</h1>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            {% if productos.imagen %}
            <img class="img-thumbnail" src="{{productos.imagen.url}}" alt="{{productos.idProducto}}">
            {% else %}
                <img class="img-thumbnail" src="{% static 'crud/img/image-not-found.png' %}" alt="{{productos.idProducto}}">
            {% endif %}
        </div>
        <div class="col-md-8 ps-5">
            <ul class="list-unstyled">
                <li class="mb-2">Descripción: <p class="fw-bold">{{productos.descripcion}}</p></li>
                <li class="mb-2">Marca: <p class="fw-bold">{{productos.marca}}</p></li>
                <li class="mb-2">Precio: <p class="fw-bold">{{productos.precio}}</p></li>
                <li class="mb-2">Stock: <p class="fw-bold">{{productos.stock}}</p></li>                
            </ul>
            <div class="row col-4">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-warning" href="/crud/{{productos.idProducto}}/update">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a class="btn btn-outline-danger" href="/crud/{{productos.idProducto}}/delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'form_productos' %}">
                        <i class="fa-solid fa-backward"></i>                
                    </a>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}