{% extends 'crud/base.html' %}

{% block title %}formulario productos{% endblock %}
{% load static %}

{% block content %}
{% load static %}
<div class="container mt-4  py-5 text-white bg-dark text-center">
    <h1>Listado Productos</h1>    
</div>
<div class="container-fluid mt-4 mb-4">
    <div class="row text-center">
        <div class="col-2 mx-auto">
            <a class="text-decoration-none fs-1" href="{% url 'form_productos' %}">
                <i class="fa-solid fa-file-circle-plus"></i>
            </a>
        </div>
    </div>
    <div class="row">        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <td>ID</td>
                    <td>Descripción</td>
                    <td>Precio Unitario</td>
                    <td>Stock</td>
                    <td>Marca</td>
                    <td>Imagen</td>
                    <td>Opciones</td>
                </thead>
                <tbody>
                    {% for producto in productos%}
                        <tr>
                            <td>
                                <a class="text-decoration-none" href="/crud/{{producto.idProducto}}">{{producto.idProducto}}</a>
                            </td>
                            <td>{{producto.descripcion}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.stock}}</td>
                            <td>{{producto.marca}}</td>
                            {% if producto.imagen %}
                                <td>
                                    <img class="img-producto" src="{{producto.imagen.url}}" alt="{{producto.idProducto}}">
                                </td>
                            {% else %}
                                <td>
                                    <img class="img-producto" src="{% static 'crud/img/image-not-found.png' %}" alt="Sin Imagen">
                                </td>
                            {% endif %}
                            <td>
                                <a class="btn btn-outline-warning" href="/crud/{{producto.idProducto}}/update">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a class="btn btn-outline-danger" href="/crud/{{producto.idProducto}}/delete">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}